/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-white: #fdf9ef;
    --primary-black: #301b0a;
    --secondarygreen-100: #eaf0d3;
    --secondarygreen-200: #d0e0af;
    --secondarygreen-300: #b7ca90;
    --secondarygreen-500: #99b06a;
    --secondarybeige-100: #faefd6;
    --secondarybeige-200: #f6e7c3;
    --secondarybeige-300: #dccba2;
    --secondarybeige-500: #c5b181;
  }
  